/* Basic styles */
body{
    background:  #333333ea;
    margin:0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.logo {
    width: 3%; /* Adjust width of the logo as needed */
    height: auto; /* Maintain aspect ratio */
}

header {
    background: linear-gradient(to right, #000, #255340); /* Gradient from black to green */
    color: #fff;
    position: fixed;
    padding: 0.01%;
    width: 100%;
    top: 0;
    border-bottom: 2px solid #10df6d;
    z-index: 1000; /* Ensure the header is above other content */
}

header h1 {
    font-size: 100%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    display: inline;
    margin-left: 6.3%;
    margin-top: 0.7%;
}

nav ul li a,
.me-button a {
    color: #fff;
    text-decoration: none;
    padding: 40% 40%; /* Set consistent padding for buttons */
    border-radius: 30%; /* Set consistent border radius for buttons */
    transition: background-color 0.3s, color 0.3s; /* Add transition effect */
    
}

.me-button {
    margin-left: 51%;
    margin-top: 0.7%;
}

nav ul li a:hover,
.me-button a:hover {
    background-color: #10df6d94; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}


/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #22301e; /* Dark green background color */
    min-width: 380%; /* Ensure dropdown width spans 100% */
    z-index: 1000;
    border-radius: 20%;
    left: 50%; /* Adjust position to center horizontally */
    transform: translateX(-35%); /* Center horizontally */
  }
  
  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 9%; /* Adjust padding as needed */
  }
  
  .dropdown-content a:hover {
    background-color: #0aa959; /* Light green background color on hover */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.active {
    background-color: #10df6d94; /* Green color for the active state */
}



.chat-circle {
    position: fixed; /* Position relative to the viewport */
    bottom: 10%; /* Adjust the distance from the bottom of the viewport */
    right: 1%; /* Adjust the distance from the right of the viewport */
    width: 5%; /* Adjust the width of the chat circle */
    height: 8%; /* Adjust the height of the chat circle */
    background-color: rgba(42, 124, 90, 0.527); /* Background color of the chat circle */
    border-radius: 50%; /* Make the chat circle round */
    color: #fff; /* Text color */
    text-align: center; /* Center text horizontally */
    line-height: 10%; /* Center text vertically */
    font-size: 90%; /* Adjust the font size */
    cursor: pointer; /* Show pointer cursor on hover */
    z-index: 1000; /* Ensure the chat circle is above other content */
    
}


/* Hover effect for the chat circle */
.chat-circle:hover {
    background-color: #2a8f65; /* Change background color on hover */
}

footer {
    position: fixed;
    bottom: 0;
    background: linear-gradient(to right, #000, #255340);
    color: #fff;
    text-align: center;
    padding: 1%;
    z-index: 1000;
    width: 100%;
}
